name: Update library

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    paths-ignore:
      - "src/**"
    branches:
      - main
  workflow_dispatch:

jobs:
  check-proposals:
    name: Check if library is up to date
    runs-on: ubuntu-latest
    env:
      FOUNDRY_PROFILE: ci
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v3
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@8789b3e21e6c11b2697f5eb56eddae542f746c10 # pin@v1
        with:
          version: nightly

      - uses: bgd-labs/github-workflows/.github/actions/setup-node@main

      - uses: bgd-labs/action-rpc-env@main
        with:
          ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}

      - name: Generate library
        run: npm run generate:addresses

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.UPDATE_BOT_APP_ID }}
          private-key: ${{ secrets.UPDATE_BOT_TOKEN }}

      - name: Create Pull Request
        id: pr
        uses: peter-evans/create-pull-request@253935418100774e6d13aa1d877700be09f535f5 # pin@00897e0bc2ceba9f86c9b0fda8429107112e6fa5
        with:
          token: ${{ steps.app-token.outputs.token }}
          author: Cache-bot <noreply@github.com>
          committer: Cache-bot <noreply@github.com>
          commit-message: "fix(cache): automated cache update - updated addresses"
          delete-branch: true
          title: "fix(cache): automated cache update - updated addresses"

      - name: Approve pr
        if: ${{ steps.pr.outputs.pull-request-number }}
        run: gh pr review --approve "${{ steps.pr.outputs.pull-request-number }}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Enable Pull Request Automerge
        if: ${{ steps.pr.outputs.pull-request-number }}
        run: gh pr merge --squash --auto "${{ steps.pr.outputs.pull-request-number }}"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
