on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please
jobs:
  test-node:
    uses: bgd-labs/github-workflows/.github/workflows/test-node.yml@main
    secrets: inherit

  release-please:
    runs-on: ubuntu-latest
    needs: test-node
    outputs:
      releaseCreated: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.AUTOMATION_APP_ID }}
          private-key: ${{ secrets.AUTOMATION_PRIVATE_KEY }}

      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # pin@v4.4.0
        id: release
        with:
          token: ${{ steps.app-token.outputs.token }}
          release-type: node

      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.prs_created }}

      - name: Approve pr
        if: ${{ steps.release.outputs.prs_created }}
        run: |
          PR_NUMBER=$(echo '${{ steps.release.outputs.pr }}' | jq -r '.number')
          gh pr review --approve "$PR_NUMBER"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}

      - name: Enable Pull Request Automerge
        if: ${{ steps.release.outputs.prs_created }}
        run: |
          PR_NUMBER=$(echo '${{ steps.release.outputs.pr }}' | jq -r '.number')
          gh pr merge --squash --auto "$PR_NUMBER"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
          GH_REPO: ${{ github.repository }}

  release-node:
    uses: bgd-labs/github-workflows/.github/workflows/release-node.yml@main
    if: ${{ needs.release-please.outputs.releaseCreated }}
    needs: release-please
    secrets:
      NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
