on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please
jobs:
  test-node:
    uses: bgd-labs/github-workflows/.github/workflows/test-node.yml@main
    secrets: inherit

  release-please:
    runs-on: ubuntu-latest
    needs: test-node
    outputs:
      releaseCreated: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: googleapis/release-please-action@c2a5a2bd6a758a0937f1ddb1e8950609867ed15c # pin@v4.3.0
        id: release
        with:
          release-type: node

  release-node:
    uses: bgd-labs/github-workflows/.github/workflows/release-node.yml@main
    if: ${{ needs.release-please.outputs.releaseCreated }}
    needs: release-please
    secrets:
      NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
